* {box-sizing:border-box;}
html {font-size:1em;}

body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    overflow-y:scroll;
}

::selection{
    color:white;
    background-color:black;
}

.header{

background-image: url(../images/header-background-0.5x.jpg);
background-repeat:no-repeat;
background-size:cover;
background-position:50% 75%;
padding-bottom:2rem;
}

@media (min-width:900px){
    .header{background-image:url(../images/header-background.jpg);}
}

.header::after {
    content:"";
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:7.5rem;
    height:0.25rem;
    background-color:#ED6A4E;
    box-shadow:0 0 0.25rem rgba(0 ,0 , 0, 0.5);
}

@media (min-width:62em){
    .header::after{
        width:12.5rem;
    }
}

.button {
    color:white;
    padding: 0.75rem 2rem;
    border-radius:9999px;
    background-color: #ED6A4E;
    text-decoration:none;
    font-weight:bold;
    display:inline-block;
    box-shadow:0 0.25rem 0.5rem rgba(0,0,0,0.25);
}

.button--transparent{
    background-color:transparent;
    border: 0.125rem solid white;
    -webkit-backdrop-filter:blur (0.2rem);
    backdrop-filter: blur(0.2rem);

}

.button:hover{

text-decoration:underline;
background-color:#c4553c;
}

.button--transparent:hover{
    background-color:rgba(255,255,255,0.25);
    
}


.header__logo{
width:100%;
filter:drop-shadow(0 0 0.5rem  rgba(0, 0, 0, 0.5));
}

.header__logo-link{
width:9rem;
display:block;
margin-left:auto;
margin-right:auto;

}

@media (min-width:62em){
.header__logo-link{
    margin-left:0;
    margin-right:0;
}

}

.header__nav-link{
    color:white;
    text-decoration:none;
    padding: 1rem 1rem;
    display:inline-block;
    font-weight:bold;
    text-shadow:0 0 1rem rgba(0 ,0 , 0, 0.5);
}

.header__nav-li{
list-style-type:none;
display:inline-block;

}

.header__nav-li--destkop{
    display:none;
}

@media (min-width:62em){
    .header__nav-li--destkop{
        display:inline-block;
    }
}

.header__nav-ul{ 
margin:0;
padding:0;
text-align:center;

}

.header__nav{
    padding-top:2rem;
    padding-bottom:0.5em;
}

@media (min-width:62em){
.header__nav    {

display:flex;
flex-direction:row;
justify-content:space-between;
}}

.container{
    max-width:72rem;
    margin-left:auto;
    margin-right:auto;
    padding-left:1rem;
    padding-right:1rem;
}

@media (min-width:62em){
    .container{
        padding-left:2rem;
        padding-right:2rem;
    }
}

.header__heading{
    color:white;
    margin:0;
    text-shadow: 0 0 1rem rgba(0 ,0,0,0.5);
    
}

@media(min-width:62em){
    .header__heading{
        padding-top:5rem;
    }
}

@media (min-width:36em){
    .header__heading{
font-size:3rem;

    }
}
.header__sub-heading{
    color:white;
    margin:0;
    padding-top:0.5rem;
    padding-bottom:2rem;
    text-shadow: 0 0 1rem rgba(0,0,0,0.5);
}

@media (min-width:36em){
    .header__sub-heading{
        font-size:1.25em;
    }
}

@media (min-width:62em){
    .header__sub-heading{
      padding-bottom:7.5rem;
    }
}

.header__button-container{

    display:flex;
    justify-content:center;
    padding-bottom:1.5rem;
}

@media (min-width:62em){
    .header__button-container{
        display:none;
    }
}

/* ende Header*/

.adventures {
    background-image:url(../images/background.jpg);
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:cover;
    background-color:rgb(225,220,206);
    padding-bottom:4rem;

}

.story{
    background-image:url(../images/background-mobile.jpg);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    padding-bottom:5rem;
    padding-top:4rem;
}

@media (min-width: 62rem) {
    .story{
        background-image:
        linear-gradient(180deg, rgba(0,0,0,0.5) 0%, transparent 10% ,transparent 95%, rgba(0,0,0, 0.5)),
        url(../images/background-desktop.jpg);
        background-size:120% auto;
        background-position:100% 50%;
        background-attachment:local,fixed;

    }

    .story__inner{
        padding-left:50%;
    } 
}

.desktop-only{
    display:none;
}

@media(min-width:62rem){
    .desktop-only{
        display:initial;
    }
}


.heading {
margin-top:0;
margin-bottom:0;
font-size:2rem;
text-transform:uppercase;
color:#014153;
padding: 2rem 0 2rem 0;

letter-spacing:0.05em;
}
.heading--center{
    text-align:center;
}
.heading__pre-text{
    font-size:1rem;
    display:block;
}

.heading--story{
    color:white;
}

.heading--story::before{
    content:"";
    display:block;
    height:0.125rem;
    width:7rem;
    background-color:#ED6A4E;
    margin-bottom:0.7rem;
}

.adventures__card{

background-color:white;
flex: 0 0 21.33rem;
margin:1rem;
border-radius:2rem;
overflow:hidden;
text-align:center;
padding-bottom:1rem;
box-shadow:0 0.5rem 1rem rgba(0 ,0 ,0, 0.7 );
transition:all 1s ease-in-out;
position:relative;

}


.adventures__card:hover{
    transform:scale(1.05) ;
}




.adventures__card-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    /*padding-bottom:5rem;*/
   
}

.adventures__card-container::after{
    content:"";
    display:block;
    background-color:#ED6A4E;
    width:85%;
    height:0.25rem;
    margin-left:auto;
    margin-right:auto;
    margin-top:2rem;
    margin-bottom:2rem;


}

.adventures__card-img{
    width:100%;
    display:block;
}

.adventures__card-heading{
    margin:0;
    font-size:1.5em;
    color:rgb(1,65,82);
    text-transform:uppercase;
    display:block;
    padding-top:1.25rem;
    padding-bottom:1.5rem;

}

.adventures__card-date{
    color:#014153;
    text-transform:uppercase;
    font-size:1.25rem;
    margin:0;
    letter-spacing:0.05rem;
    padding-bottom:1rem;
    
}

.story__paragraph{
    color:white;
    margin:0;
    font-size:1rem;
    padding-bottom:2rem;
    line-height:1.4em;
}


.text-primary{
    color:#ED6A4E;
}
.parts{
    background-color:white;
    padding-bottom:2rem;
}

.parts__items{
    
    
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    margin:-0.1rem;
   
}

.parts__paragraph{
    color:gray;
    font-size:0.9rem;
    text-align:center;
    margin:0;
    line-height:1.4rem;
    max-width:40rem;
    margin-left:auto;
    margin-right:auto;
    padding-top:4rem;
}

.parts::after{
    content:" ";
    display:block;
    background-color:#ED6A4E;
    width:7rem;
    height:0.125rem;
    margin-left:auto;
    margin-right:auto;
    margin-top:2.5rem;
    
}

.parts__item{
    flex: 1 0 20rem;
    padding:1.5rem;
    border:#ED6A4E 0.1rem solid;
    text-decoration:none;
    
}

.parts__item:hover{
    background-color:gray;
    cursor:grab;
}

.parts__icon{
    width:5rem;
    height:5rem;
    border-radius:9999px;
    background-color:#ED6A4E;
    margin-left:auto;
    margin-right:auto;
    padding-top:1rem;
}


.parts__heading-item{
    margin:0;
    text-align:center;
    font-size:1rem;
    padding-top:1.5rem;
    color:#014153;
}

.parts__svg{
    display:blocK;
    margin-left:auto;
    margin-right:auto;
    width:3rem;
    height:3rem;
}

.parts__border{
    overflow:hidden;
}

.guide{

    height:auto;
    padding-top:10rem;
    padding-bottom:2rem;
    
    background-image: 
        linear-gradient(90deg, rgba(36 ,161 , 163 , 0.3), rgba(36 ,161 , 163, 0.5)),
        url("../images/pexels-arnie-chou-927414.jpg"),
        linear-gradient(90deg, #014153  ,#014153 ),
        url("../images/pexels-minmin-kp-2554603.jpg");

    background-size:
        100% calc(100% - 10rem),
        100% calc(100% - 10rem),
        100% calc(100% - 10rem),
        100% auto;

    background-position:
        50% 100%,
        50% 100%,
        50% 100%,
        50% calc(5rem - 82vw);

    background-repeat:no-repeat, no-repeat, no-repeat ,no-repeat;
    background-blend-mode:normal ,saturation , normal;

}

@media (min-width:62rem){
.guide{
    padding-bottom:2.5rem;
    padding-top:0;
    height:auto;
    background-image: 
        linear-gradient(90deg, rgba(36 ,161 , 163 , 0.3), rgba(36 ,161 , 163, 0.5)),
        url("../images/pexels-arnie-chou-927414.jpg"),
        linear-gradient(90deg, #014153  ,#014153 ),
        url("../images/pexels-minmin-kp-2554603.jpg");

    background-size: calc(50% + 10rem) 100% ,calc(50% + 10rem) 100% ,calc(50% + 10rem) 100%, calc(50% - 10rem) auto;
    background-position:100% 50%, 100% 50% ,100% 50%,0 50%;
    background-repeat:no-repeat, no-repeat, no-repeat ,no-repeat;
    background-blend-mode:normal ,saturation , normal;
   
    
}}

@media (min-width:62rem){
.guide-container{
padding-left:calc(50% - 8rem);
}}

.heading--bottom::after{
    content:"";
    display:block;
    height:0.25rem;
    width:7.5rem;
    background-color:#ED6A4E;
    margin-top:1rem;
    
}

.guide__paragraph{
    color:white;
    margin:0;
    font-size:1rem;
    padding-bottom:2rem;
    line-height:1.4em;
    text-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
}

.skills{
    background-color:rgb(225,220,206);
    background-image:url(../images/background.jpg);
    background-size:cover;
    background-repeat:no-repeat;
   
}

.skills__items {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:center;    
    padding-bottom:2.5rem;
    
}

.skills__item{
    flex: 0 0 20rem; 
    background-color:white;
    border-radius:10px;
    margin:1rem;
    padding:2rem 2rem 2.5rem 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    
    
}

@media(max-width:32rem){
    .skills__item{
        flex: 0 0 17rem;
    }
}

.skills__items-icon{
    
    background-color:#ED6A4E;
    height:5rem;
    width:5rem;
    border-radius:9999px;
    transition: all 1s , 1s ;
    
}

.skills__items-icon:hover{
    background-color:white;
    transform:rotate(180deg);
    padding:0rem;
}

.skills__items-icon--first{
    padding:0.8rem;
}

.skills__items-icon--second{
    padding:0.6rem;
}

.skills__heading-item{
    margin:0;
    font-size:1rem;
    padding-top:1.5rem;
    color:#014153;
}

.skills__heading-item::after{
    content:"";
    display:block;
    width:7.5rem;
    height:0.125rem;
    margin-top:1rem;
    margin-bottom:1.5rem;
    background-color:#ED6A4E;
}

.skills__ul{
    color:gray;
    line-height:2rem;
    list-style-type:square;
    margin:0;
    padding:0;
    list-style-position:inside;
}

.skills__li::marker{
color:#ED6A4E;

}

.quote{
    color:#ED6A4E;
    background-color:#014153;
    padding-bottom:2rem;
    text-align:center;
}

.quote__input{
    margin:0;
    padding-top:2rem;
    padding-bottom:1rem;
    /*text-shadow:0 2px 20px black;*/
    font-size:2rem;
    font-family:impact;
    letter-spacing:0.15rem;
    line-height:1.3em;
    text-transform:uppercase;
}

.quote__input::before{
    content:" „ ";
    text-shadow:0 2px 20px black;
}

.quote__input::after{
    content:"“";
    
}
.skills__figure{
    margin:0;
}

.quote__cite{
    font-size:1.3rem;
    font-family:impact;
    /*text-shadow:0 2px 20px black;*/

}

.formular{
    background-color:#ED6A4E;
    width:100%;
    height:auto;
}


.formular::after{
    content:" ";
    width:12rem;
    display:block;
    margin-left:auto;
    margin-right:auto;
    height:0.1rem;
    background-color:#014153;
}


@media(min-width:62rem){

.formular__input{
    display:flex;
    flex-direction:wrap;}

    .formular__input-left{
        width:50%;
        border-right: 1px solid rgb(99, 84, 84);
        margin-right:6rem;
        
    }
}

.formular__input{
    padding:4rem;
    
}

@media(max-width:32rem){
    .formular__input{
       padding:2rem;
    }
}

.formular__input-left{
    display:block;
    padding:2rem;
    text-align:center;
   
}

.formular__input-right{
    display:block;
    text-align:center;
    
}

@media(max-width:62rem){
    .formular__input-left::after{
        content:" ";
        display:block;
        width:12rem;
        margin-top:2rem;
        margin-left:auto;
        margin-right:auto;
        height:0.1rem;
        background-color:#014153;
        
    }
}


.form__text{
    color:white;
    font-size:1.3rem;
    font-family:Arial;
    letter-spacing:0.05em;
    line-height:1.3em;
    
}

.form__phone{
    color:#014153;
    text-decoration:none;
    font-size:3rem;
    
}

@media(max-width:32rem){
    .form__phone{
        margin-left:-2.5rem;
        
    }
}

input {
    appearance:none;
    -webkit-appearance:none;
    width:20rem;
    height:2rem;
    margin-bottom:1.5rem;
    border-radius:10px;
    border: none;
    padding:0.5rem;
    outline:none;
    margin-left:auto;
    margin-right:auto;

    
}

@media(max-width:32rem){
    input{
        margin-left:0.5rem;
        width:13rem;
    }
}

input:focus[type=email]{
    border:1px solid gray;
    background-color:rgb(228, 215, 215);
}

textarea{
    appearance:none;
    -webkit-appearance:none;
    border-radius:10px;
    border:none;
    margin: 1.5rem auto 1.5rem auto;
    resize:none;
    width:20rem;
    padding:0.5rem;
    outline:none;
    font-size:1rem;
}

@media(max-width:32rem){
    textarea{
        margin-left:0.5rem;
        width:15rem;
    }
}

textarea:focus{
    background-color:rgb(228, 215, 215);
    border:1px solid rgb(228, 215, 215);
}

select{
    height:2rem;
    width:20rem;
    border-radius:10px;
    font-size:1rem;
    font-family:inherit;
    color:#014153;
    letter-spacing:0.125em;
    padding-left:2rem;
    outline:none;
    background-color:white;
}

@media(max-width:32rem){
    select{
        margin-left:0.5rem;
        width:13rem;
    }
}

select:focus{
    background-color:rgb(228, 215, 215);
}

.button--submit{
    background-color:#014153;   
    font-size:1rem;   
}

.button--submit:hover{
    background-color:rgb(100, 92, 92);
    cursor:pointer;
}

@media (min-width:62rem){
.button__submit-right{
    text-align:right;
}}

.footer{
    background-color:#ED6A4E;
    width:100%;
    height:auto;
    
}

.footer__link{
    margin:0;
    padding:2rem;
    text-align:center;
}

.footer__link-follow{
    text-decoration:none;
    padding-left:2rem;
    color:#014153;
}

.footer__link-follow:hover{
    text-decoration:underline;
}
